.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: DodgerBlue;
}

  .container>div {
    background-color: white;
    color: white;
    width: 800px;
    height: 500px;
}
